


.cloudbar {
    background-image:url(../../assets/images/cloudbg.png);
    background-position: top;
    background-repeat: repeat-x;
    height: 150px;
    width: 100%;
    margin-top: 0px;
    background-color: #4f6382; /* Old browsers */
   
}


.mob_subheaderHome {
  background: #4f6382 !important;
      width: 100%;
    height: 40px;
    text-align: left;
    color: white;
}

.sub-header1 {
margin-top:-70px;
}

.brandSecondarycolor {
  background: rgb(146,146,146); /* Old browsers */
       color:white;
}

.brandcolor {
background: #4f6382; /* Old browsers */
   color: white;


}

.brandBorder {
    border-bottom: px solid #1d3e72;
}

.bs-glyphicons li a:hover {
            color: #1d3e72;
            text-shadow: 2px 2px 3px rgb(234,234,234);
        }

.infobox-icon.primary {background-color: #4f6382;color: #ffffff;}

.divcanvas p {
    display: block;
    padding: 8px 8px;
    border-radius: 4px !important;
    background-color: #4E4948 !important;
    border: 0px solid #ddd;
    margin: 0px;
    color: #fff;
    font-weight: normal;
    min-height: 34px;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 6px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #fff;
    font-weight: normal;
    background-color: #4E4948 !important;
    background-image: none;
    border: 1px solid #3D3C3C !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.slick-initialized .swipe-tab {
 
background: #f7f7f7;
 
color: #4f6382;
}

.slick-initialized .swipe-tab:hover {
        color: #4f6382 !important;
    }


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: auto; /* Disable horizontal scroll */
    /* padding-top: 20px; */ /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    /* border-right: 1px solid #fff; */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 0px 8px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #252525;
    display: block;
    transition: 0.3s;
    /* border-bottom:1px solid #fff; */
}
.sidenav a:first-child {
    padding: 8px 0px 8px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-bottom:1px solid #fff;
   background: #4f6382;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: -15px;
    right: 10px;
    font-size: 36px;
    margin-left: 0px;
    border: 0px;
    color: white;
}

.mob_subheaderinternal {
    background: #252525 !important;
    width: 100%;
    height: 40px;
    margin-top: -4px;
    text-align: left;
    color: white;
    display: block;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #252525;
    border-radius: 10px;
}