@model GeneratorBase.MVC.Models.T_TypeOfRestrictions
@{
    ViewBag.Title = "Create Type Of Restrictions";
}
<div class="row">
    <div class="col-lg-12">
		<h1 class="page-title">
            <i class="glyphicon glyphicon-save text-primary"></i> Type Of Restrictions  <i class="glyphicon glyphicon-chevron-right small"></i> <span> Full Associate <i class="glyphicon glyphicon-chevron-right small"></i>
			 @if (ViewBag.DisplayVal != null)
                {
                    @ViewBag.DisplayVal;
                }
			</span>
        </h1>
        <h2 class="text-primary">@Html.DisplayFor(model => model.DisplayValue)</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
@Html.Partial("~/Views/T_TypeOfRestrictions/CreatePartial.cshtml", Model)
