@model IEnumerable<GeneratorBase.MVC.WebReference.CatalogItem>
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-thumbs-up text-primary" style="margin-bottom:-20px;"></i> Reports  <i class="glyphicon glyphicon-chevron-right small"></i>  <span>List</span>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
@Html.Partial("~/Views/Reports/IndexPartial.cshtml", Model)

