@model PagedList.IPagedList<GeneratorBase.MVC.Models.T_SocCode>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = null;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment; filename=SOC Code.xls");
}
                    <table>
                            <tr>
@if(User.CanView("T_SocCode","T_Code"))
{
		<th>Code</th>
}
@if(User.CanView("T_SocCode","T_Title"))
{
		<th>Title</th>
}
    </tr>
@foreach (var item in Model) {
    <tr>
	@if(User.CanView("T_SocCode","T_Code"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_Code)
        </td>
}
@if(User.CanView("T_SocCode","T_Title"))
{
		<td>
            @Html.DisplayFor(modelItem => item.T_Title)
        </td>
}
                                </tr>
                            }
</table>
               
