@model IEnumerable<GeneratorBase.MVC.Models.T_Schedule>
@{
    ViewBag.Title = "Schedule List";
	Layout ="~/Views/Shared/_Layout.cshtml";
	string templatename = ("~/Views/T_Schedule/" + ViewBag.TemplatesName + ".cshtml").Replace("?IsAddPop=true", "");
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-thumbs-up text-primary" style="margin-bottom:-20px;"></i> Schedule  <i class="glyphicon glyphicon-chevron-right small"></i>  <span>List</span>
</h1>
    </div>
</div>
<script>
    $(document).ready(function () {
        ClickFilterBtn();
    });
</script>
<div id="dvT_ScheduleFilter"></div>
@Html.Partial(templatename, Model)

