@model PagedList.IPagedList<GeneratorBase.MVC.Models.ImportConfiguration>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = null;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment; filename=ImportConfiguration.xls");
}
                    <table>
                            <tr>
@if(User.CanView("ImportConfiguration","TableColumn"))
{
		<th>Table Column</th>
}
@if(User.CanView("ImportConfiguration","SheetColumn"))
{
		<th>Sheet Column</th>
}
@if(User.CanView("ImportConfiguration","UniqueColumn"))
{
		<th>Unique Column</th>
}
@if(User.CanView("ImportConfiguration","Name"))
{
		<th>Name</th>
}
    </tr>
@foreach (var item in Model) {
    <tr>
	@if(User.CanView("ImportConfiguration","TableColumn"))
{
		<td>
            @Html.DisplayFor(modelItem => item.TableColumn)
        </td>
}
@if(User.CanView("ImportConfiguration","SheetColumn"))
{
		<td>
            @Html.DisplayFor(modelItem => item.SheetColumn)
        </td>
}
@if(User.CanView("ImportConfiguration","UniqueColumn"))
{
		<td>
            @Html.DisplayFor(modelItem => item.UniqueColumn)
        </td>
}
@if(User.CanView("ImportConfiguration","Name"))
{
		<td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
}
                                </tr>
                            }
</table>
               
