@using GeneratorBase.MVC.Models
@model InvalidSample

@{
    Layout = "~/Views/Shared/_LayoutWebApi.cshtml";
}
@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div class="warning-message-container">
        <p>@Model.ErrorMessage</p>
    </div>
}
else
{
    <p>Sample not available.</p>
}