@model GeneratorBase.MVC.Models.SelectRoleEditorViewModel
@{
    var adminRoles = (new GeneratorBase.MVC.Models.CustomPrincipal(User)).GetAdminRoles().Split(",".ToCharArray());
    var checkboxHtmlAttributes = new Dictionary<string, object>
    {{"attibute1", "value1"},
    {"attribute2", "value2"}};
    if (adminRoles.Contains(Model.RoleName))
    {
        checkboxHtmlAttributes.Add("disabled", "disabled");
    }
}
    @Html.HiddenFor(model => model.RoleName)
    <tr>
        <td style="text-align:center">
            @Html.CheckBoxFor(model => model.Selected, checkboxHtmlAttributes)
        </td>
        <td>
            @Html.DisplayFor(model => model.DisplayValue)
        </td>
    </tr>
   
