@model PagedList.IPagedList<GeneratorBase.MVC.Models.FeedbackSeverity>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = null;
    Response.ContentType = "application/vnd.ms-excel";
    Response.AddHeader("Content-Disposition", "attachment; filename=FeedbackSeverity.xls");
}
                    <table>
                            <tr>
@if(User.CanView("FeedbackSeverity","Name"))
{
		<th>Name</th>
}
@if(User.CanView("FeedbackSeverity","Description"))
{
		<th>Description</th>
}
    </tr>
@foreach (var item in Model) {
    <tr>
	@if(User.CanView("FeedbackSeverity","Name"))
{
		<td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
}
@if(User.CanView("FeedbackSeverity","Description"))
{
		<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
}
                                </tr>
                            }
</table>
               
