@model IEnumerable<GeneratorBase.MVC.Models.SelectUserEditorViewModel>
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="dvUsersInRole"></div>
@Html.Partial("~/Views/Account/UsersInRolePartial.cshtml", Model)