.ie8fix {
  padding-bottom:5px !important;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    height: 30px !important;
    padding:18px 15px 0px 15px;
}
.navbar {
    height:70px !important;
}
