@model IEnumerable<GeneratorBase.MVC.Models.T_Chart>
@{
    ViewBag.Title = "Application Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">
            <i class="glyphicon glyphicon-save text-primary"></i> Application Charts
            <div class="btn btn-default btn-sm dropdown pull-right" style="border: 0px solid #c3ddec !important; font-size:12px;">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Add Chart <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-placement="top" data-toggle="modal" data-target="#dvPopup" onclick="@Html.Raw("OpenPopUpEntity('addPopup','Application Chart','dvPopup','" + Url.Action("CreateQuick", "Chart", new { UrlReferrer = Request.Url, TS = DateTime.Now }) + "')")"> Add Chart</a></li>
                </ul>
            </div>
        </h1>
    </div>
</div>
@Html.Partial("~/Views/Chart/IndexPartial.cshtml", Model)

